body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('altay-solars-system.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.lang-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

/* Logo */
.logo {
  width: 100px;          /* isteğe göre boyutlandır */
  height: auto;
  margin-bottom: 1rem;
}

/* Site Başlığı */
.site-title {
  font-size: 2rem;
  margin: 0.5rem 0 1.5rem;
}

/* Butonlar */
.lang-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.lang-btn {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.lang-btn.tr {
  background: #fff;
  color: #b30000;
}

.lang-btn.en {
  background: #fff;
  color: #000;
}

.lang-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255,255,255,0.4);
}
